{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title%} {% endblock title %}
    </title>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url "receipt_list" %}">Home</a></li>
                <li><a href="{% url "create_receipt" %}">Create Receipt</a></li>
                <li><a href="{% url "category_list" %}">Categories</a></li>
                <li><a href="{% url "create_category" %}">Create Category</a></li>
                <li><a href="{% url "account_list" %}">Accounts</a></li>
                <li><a href="{% url "create_account" %}">Create Account</a></li>
                <li><a href="{% url "logout" %}">Logout</a></li>
            {% else %}
                <li><a href="{% url "signup" %}">Sign Up</a></li>
                <li><a href="{% url "login" %}">Log In</a></li>
            {% endif %}
        </ul>

    </nav>
</head>
<body>
    {% block content %}{% endblock content %}
    <footer class="main-footer">
    </footer>
</body>
</html>
