{% extends 'base.html' %}

{% block title %}
    <title>Account List</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                </tr>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.number }}</td>
                    <td>{{ account.receipts.count }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
{% endblock content %}
