{% extends 'base.html' %}

{% block title %}
    <title>Category List</title>
{% endblock title %}
{% block content %}
    <main>
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
                {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipts.count }}</td>
                </tr>
                {% endfor %}
        </div>
    </main>
{% endblock content %}
